<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🚀 task2 Vysing sun</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-[95vh] flex items-center justify-center">
    <form  action="/tp16/task5">
        <div class="m-auto w-[400px] h-[610px] px-4 flex justify-center flex-col shadow-2xl">
            <div><input class="w-full p-1 rounded-sm border-2 border-[#9ca3af]" type="text" name="username" placeholder="Username"></div>
            <div class="my-8"><input class="w-full p-1 rounded-sm border-2 border-[#9ca3af]" name="password" type="password" placeholder="Password"></div>
            <div class="flex justify-end"><button class="bg-[#1a73e8] p-1 px-4 rounded-md text-white" type="submit">Sign In</button></div>
        </div>
    </form>
    
</body>
</html>